<div class="d-flex justify-content-center mb-5 mt-5">
  <form>
    <h1>Login</h1>
    <!-- Email input -->
    <div class="form-outline mb-4">
      <input type="email" id="email" class="form-control" #email />
      <label class="form-label" for="email">Email address</label>
    </div>

    <!-- Password input -->
    <div class="form-outline mb-4">
      <input type="password" id="password" class="form-control" #password />
      <label class="form-label" for="password">Password</label>
    </div>

    <!-- Submit button -->
    <button
      type="submit"
      class="btn btn-primary btn-block"
      (click)="login(email.value, password.value)"
    >
      Sign in
    </button>
  </form>
</div>
