<div class="container pl-5 pr-5 pb-5 border">
  <div class="row mt-4">
    <h2 class="col">Generador automatico de horarios</h2>
  </div>
  <div class="row mt-4">
    <div class="container border"></div>
  </div>
  <div class="row mt-2">
    <div class="col-md-2"></div>
    <div class="col-md-2">Preferencia Horaria</div>
    <div class="col-md-4">
      <select
        formControlName="jornadasSelect"
        class="form-control"
        #jornadaSelect
        (change)="jornadaSelected(jornadaSelect.value)"
      >
        <option>Seleccione la Jornada</option>
        <option *ngFor="let jornada of jornadas">{{ jornada }}</option>
      </select>
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-info" (click)="consultarEvent()">
        Consultar
      </button>
    </div>
  </div>
  <div *ngIf="isEnabled">
    <div class="row mt-5">
      <div class="col-md-12">
        Selecciona una de las opciones de horario que mejor se ajuste a tus
        necesidades:
      </div>
    </div>
    <div
      *ngFor="let schedulesOption of schedules; let i = index"
      class="row mt-5"
    >
      <div class="input-group">
        <div class="input-group">
          <div class="input-group-text">
            <button
              type="button"
              class="btn btn-primary"
              (click)="validarHorario(i)"
            >
              Validar Horario: {{ i + 1 }}
            </button>
          </div>
        </div>

        <div class="container mt-2 pr-5">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th scope="col">Hora Inicio</th>
                <th scope="col">Hora Fin</th>
                <th scope="col">Lunes</th>
                <th scope="col">Martes</th>
                <th scope="col">Miercoles</th>
                <th scope="col">Jueves</th>
                <th scope="col">Viernes</th>
                <th scope="col">Sabado</th>
              </tr>
            </thead>
            <tbody *ngFor="let signatures of schedulesOption">
              <tr *ngFor="let horarioGrupo of signatures.lstGrupo[0].horarios">
                <td>{{ horarioGrupo.hora_Inicio | slice: 0:5 }}</td>
                <td>{{ horarioGrupo.hora_Fin | slice: 0:5 }}</td>
                <td *ngIf="horarioGrupo.dia == 1">
                  {{ signatures.nombre }}
                </td>
                <td></td>
                <td *ngIf="horarioGrupo.dia == 2">
                  {{ signatures.nombre }}
                </td>
                <td></td>
                <td *ngIf="horarioGrupo.dia == 3">
                  {{ signatures.nombre }}
                </td>
                <td></td>
                <td *ngIf="horarioGrupo.dia == 4">
                  {{ signatures.nombre }}
                </td>
                <td></td>
                <td *ngIf="horarioGrupo.dia == 5">
                  {{ signatures.nombre }}
                </td>
                <td></td>
                <td *ngIf="horarioGrupo.dia == 6">
                  {{ signatures.nombre }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
