<div class="container pl-5 pr-5 pb-5 border">
  <div class="row mt-4">
    <h2 class="col">Generador automatico de horarios</h2>
  </div>
  <div class="row mt-4">
    <div class="container border"></div>
  </div>
  <div class="row mt-2">
    <div class="col-md-2">Preferencia Horaria</div>
    <div class="col-md-4">
      <select
        formControlName="jornadasSelect"
        class="form-control"
        #jornadaSelect
        (change)="jornadaSelected(jornadaSelect.value)"
      >
        <option>Seleccione la Jornada</option>
        <option *ngFor="let jornada of jornadas">{{ jornada }}</option>
      </select>
    </div>
    <div class="col-md-2">Cantidad de materias:</div>
    <div class="col-md-4">
      <select
        formControlName="materiasSelect"
        class="form-control"
        #materiaSelect
        (change)="materiaSelected(materiaSelect.value)"
      >
        <option>Seleccione las Materias</option>
        <option *ngFor="let materia of materias">{{ materia }}</option>
      </select>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-md-2">Id Usuario</div>
    <div class="col-md-3">
      <input
        formControlName="idEstudianteInp"
        type="number"
        class="form-control"
        #idEstudianteIn
        (change)="idEstudianteInput(idEstudianteIn.value)"
      />
    </div>
    <div class="col-md-5"></div>
    <div class="col-md-2">
      <button type="button" class="btn btn-info" (click)="consultarEvent()">
        Consultar
      </button>
    </div>
  </div>
  <div *ngIf="isEnabled">
    <div class="row mt-5">
      <div class="col-md-12">
        Selecciona una de las opciones de horario que mejor se ajuste a tus
        necesidades:
      </div>
    </div>
    <div *ngFor="let opcionHorario of Horarios; let i = index" class="row mt-5">
      <div class="input-group">
        <div class="input-group">
          <div class="input-group-text">
            <button
              type="button"
              class="btn btn-primary"
              (click)="validarHorario(i)"
            >
              Validar Horario: {{ i + 1 }}
            </button>
          </div>
        </div>

        <div class="container mt-2 pr-5 pl-5">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th scope="col">Hora</th>
                <th scope="col">Lunes</th>
                <th scope="col">Martes</th>
                <th scope="col">Miercoles</th>
                <th scope="col">Jueves</th>
                <th scope="col">Viernes</th>
                <th scope="col">Sabado</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let materia of opcionHorario.content">
                <td>{{ materia.hora }}</td>
                <td>{{ materia.Lunes }}</td>
                <td>{{ materia.Martes }}</td>
                <td>{{ materia.Miercoles }}</td>
                <td>{{ materia.Jueves }}</td>
                <td>{{ materia.Viernes }}</td>
                <td>{{ materia.Sabado }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
